Django>=3.0.3
bcrypt
django-htmlmin
git+https://github.com/django-ckeditor/django-ckeditor
markdown
Pillow
gitpython
django-otp
qrcode
django-ipware
ipinfo
git+https://github.com/trdwll/django-analytics