html,
body {
	margin: 0;
	padding: 0
}

body {
	padding: 2rem 1.5rem;
	line-height: 1.5;
	color: #555;
	background-color: #fafafa;
}

a {
	font-weight: inherit;
	line-height: inherit;
	color: #656565;
	text-decoration: none;
	transition: all .2s ease-in-out;
	-webkit-text-decoration-color: rgba(0, 0, 0, .25);
	text-decoration-skip-ink: auto
}

a:hover {
	color: #000;
}

.body a {

	text-decoration: underline
}

hr {
	width: 100px;
	height: 1px;
	margin: 2rem auto;
	background-color: rgba(0,0,0,.1);
	border: 0
}

.post-date {
	display: block;
	margin: -.5rem 0 .5rem;
	color: #ccc
}

.archive {
	padding-top: 1.5rem;
	margin-bottom: 3rem
}

.archive-item {
	margin-bottom: 1rem;
	overflow: auto
}

.archive-item+.archive-year {
	margin-top: 2rem
}

.archive-date {
	margin-top: 0;
	margin-bottom: 0
}
@media (min-width: 34rem) {
	.archive-item {
		margin-bottom: .5rem
	}
	.archive-date {
		float: right;
		margin-left: 1rem
	}
}

ol { counter-reset: item }
li{ display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }