@font-face {
	font-family: "Proxima Nova";
	src: url("../webfonts/proximanova-reg-webfont.eot");
	src: url("../webfonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../webfonts/proximanova-reg-webfont.woff") format("woff"),
		 url("../webfonts/proximanova-reg-webfont.ttf") format("truetype"),
		 url("../webfonts/proximanova-reg-webfont.svg#proxima_nova_rgregular") format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../webfonts/proximanova-regit-webfont.eot");
	src: url("../webfonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../webfonts/proximanova-regit-webfont.woff") format("woff"),
		 url("../webfonts/proximanova-regit-webfont.ttf") format("truetype"),
		 url("../webfonts/proximanova-regit-webfont.svg#proxima_nova_rgregular") format("svg");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../webfonts/proximanova-sbold-webfont.eot");
	src: url("../webfonts/proximanova-sbold-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../webfonts/proximanova-sbold-webfont.woff") format("woff"),
		 url("../webfonts/proximanova-sbold-webfont.ttf") format("truetype"),
		 url("../webfonts/proximanova-sbold-webfont.svg#proxima_nova_ltsemibold") format("svg");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../webfonts/proximanova-sboldit-webfont.eot");
	src: url("../webfonts/proximanova-sboldit-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../webfonts/proximanova-sboldit-webfont.woff") format("woff"),
		 url("../webfonts/proximanova-sboldit-webfont.ttf") format("truetype"),
		 url("../webfonts/proximanova-sboldit-webfont.svg#proxima_nova_ltsemibold") format("svg");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../webfonts/proximanova-bold-webfont.eot");
	src: url("../webfonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../webfonts/proximanova-bold-webfont.woff") format("woff"),
		 url("../webfonts/proximanova-bold-webfont.ttf") format("truetype"),
		 url("../webfonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../webfonts/proximanova-boldit-webfont.eot");
	src: url("../webfonts/proximanova-boldit-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../webfonts/proximanova-boldit-webfont.woff") format("woff"),
		 url("../webfonts/proximanova-boldit-webfont.ttf") format("truetype"),
		 url("../webfonts/proximanova-boldit-webfont.svg#proxima_novabold_italic") format("svg");
	font-weight: 700;
	font-style: italic;
}

body {
	font-family: 'Proxima Nova','Helvetica Neue',Helvetica,Arial,sans-serif;
	margin: 0 auto 0;
	text-align: center;
	font-size: 16px;
	background: #fff;
	overflow-x: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizeLegibility;
}

body, html {
	height: 100%;
}

body.category-blog, body.post-type-archive-experiments {
	background: #f0f0f0;
}

.container-fluid {
	width: 100%;
}

.container-fluid > .row {
	margin-left: -24px;
	margin-right: -24px;
}

.container-fluid.wide {
	/* max-width: 1440px; */
	overflow: hidden;
}

a.fill {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 0;
	color: transparent;
	background: url(about:blank);
	z-index: 4;
}

p, pre, ul, ol {
	margin: 0 0 32px;
}

li {
	margin-bottom: 8px;
}

.rounded {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn,
#page > header nav a,
#page > footer nav a,
#page > footer .social > div {
	-webkit-transition: all .05s ease-in-out;
	-moz-transition: all .05s ease-in-out;
	transition: all .05s ease-in-out;
}

.btn {
	position: relative;
	padding: 8px 16px;
	z-index: 4;
}

.btn:focus {
	outline: none;
}

.btn-default,
.btn-default:focus {
	background: #f3f3f3;
	background: rgba(51, 51, 51, 0.04);
	color: #3498db;
	font-weight: 600;
	border: none;
}

.btn-default:hover {
	background: #3498db;
	color: #fff;
}

.btn-default:active, .btn-default.active {
	background: #2980b9;
	color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-default.active {
	background: #3498db;
}

.btn-light-overlay {
	background: transparent;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	border: 1px solid #fff;
}

.btn-light-overlay:hover {
	background: #fff;
	color: #333;
}

.form-control {
	font-size: 16px;
	padding: 12px;
	height: auto;
}

#page {
	position: relative;
	padding-bottom: 80px;
	max-width: 100%;
	min-height: 100%;
	overflow: hidden;
}

@media (max-width: 767px) {
	#page {
		padding-bottom: 0;
	}
}

#page > header {
	position: relative;
	margin: 0 auto;
	height: 96px;
	line-height: 96px;
	z-index: 64;
	background-color: #fff;
	-webkit-transform: translateZ(0);
	white-space: nowrap;
}

#page > header .navbar-toggle {
	position: absolute;
	top: 21px;
	left: 16px;
	margin: 0;
	padding: 0;
	border-radius: 0;
}

#page > header .navbar-toggle .icon-bar {
	width: 22px;
	height: 4px;
	background: #333;
}

#page > header .navbar-toggle.collapsed .icon-bar {
	background: #666;
}

#page > header a,
#page > header a:hover,
#page > header a:focus {	
	color: #111;
	text-decoration: none;
}

#page > header .logo {
	display: block;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: -1px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

@media (min-width: 768px) {
	#page > header .logo {
		float: left;
	}
}

#page > header nav {
	float: right;
	margin-right: -16px;
}

#page > header nav > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#page > header nav > ul > li {
	float: left;
	margin-left: 32px;
	height: 96px;
}

#page > header nav > ul > li > a {
	display: inline-block;
	padding: 2px 0 0;
	line-height: 18px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #666;
	border-bottom: 2px solid transparent;
}

#page > header nav > ul > li > a:hover,
#page > header nav > ul > li.active-child > a  {
	color: #333;
	border-bottom-color: #ddd;
}

#page > header nav > ul > li.active > a {
	font-weight: 600;
	color: #333;
	border-bottom-color: #3498db;
}

#page > header nav > ul > li.active-child > a  {
	font-weight: 600;
}

#page > header nav > ul > li.gplus:hover > a {
	border-bottom-color: #dd4b39;
}

#page > header nav > ul > li.twitter:hover > a {
	border-bottom-color: #55acee;
}

@media (max-width: 767px) {
	#page > header {
		height: auto;
		min-height: 64px;
		line-height: 64px;
	}
	#page > header > .container {
		padding-left: 54px;
		padding-right: 54px;
	}
	#page > header .logo {
		font-size: 29px;
		line-height: 29px;
		margin-top: 19px;
	}
	#page > header nav {
		float: none;
		margin: 16px -38px;
		padding: 8px 16px;
		height: auto;
		background: #f0f0f0;
	}
	#page > header nav > ul {
		float: left;
		width: 50%;
	}
	#page > header nav > ul > li {
		float: none;
		margin-left: 0;
		height: auto;
		line-height: 32px;
		text-align: left;
	}
}

#page > footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #333;
}

#page > footer .container {
	position: relative;
}

#page > footer .copy {
	position: absolute;
	top: 0;
	left: 16px;
	font-size: 13px;
	color: #666;
	line-height: 80px;
}

#page > footer nav > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

#page > footer nav > ul > li {
	display: inline-block;
	text-transform: uppercase;
}

#page > footer nav > ul > li.visible-sm {
	display: inline-block !important;
}

#page > footer nav > ul > li > a {
	display: inline-block;
	padding: 0 8px;
	color: #aaa;
	font-size: 14px;
	line-height: 80px;
}

#page > footer nav > ul > li > a:hover {
	color: #ddd;
	text-decoration: none;
}

/* #page > footer .social {
	position: absolute;
	top: 0;
	right: 16px;
	float: right;
	height: 80px;
}

#page > footer .social > div {
	position: relative;
	float: left;
	width: 80px;
	height: 80px;
	opacity: 0.64;
	background-position: center;
	background-repeat: no-repeat;
}

#page > footer .social > div:hover {
	opacity: 1;
	background-repeat: no-repeat;
}

#page > footer .social > .gplus {
	background-image: url(images/social/gplus.png);
}
#page > footer .social > .gplus:hover {
	background-color: #dd4b39;
}

#page > footer .social > .twitter {
	background-image: url(images/social/twitter.png);
}
#page > footer .social > .twitter:hover {
	background-color: #55acee;
} */

#page > section {
	overflow: hidden;
	background: #fff;
}

#page > #home-hero {
	position: relative;
	height: 600px;
	min-height: 412px;
	background: #fff;
	color: #fff;
	text-align: left;
}

#page > #home-hero > figure {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -720px;
	width: 1440px;
	height: 600px;
	background: #000;
	overflow: hidden;
}

#page > #home-hero > figure > video,
#page > #home-hero > figure > .mobile-poster {
	position: relative;
	opacity: 0.32;
	z-index: 0;
	width: 100%;
	height: 100%;
}

#page > #home-hero > figure > .mobile-poster {
	background-image: url("../media/home-header.jpg");
	background-position: center;
	background-size: auto 100%;
}

#page > #home-hero > .content {
	margin-top: -91px;
	position: absolute;
	top: 50%;
	left: 16px;
	right: 16px;
	font-size: 20px;
}

#page > #home-hero > .content > .container * {
	position: relative;
	z-index: 2;
	-webkit-transform: translateZ(0);
}

#page > #home-hero > .content h1 {
	margin-top: 0;
}

#page > #home-hero > .content p span {
	font-weight: 600;
}

#page > #home-hero > .content h2 {
	margin: 32px 0 0;
}

#page > #home-hero > .content h2 span {
	display: block;
	opacity: 0.85;
}

#page > #home-hero > .content .btn {
	position: relative;
	margin: 32px 0 10px;
	font-size: 14px;
	z-index: 6;
}

#page > aside#experiments {
	padding: 48px 0;
	text-align: left;
}

#page > aside#experiments h1 {
	margin: 0 0 16px;
}

#page > aside#experiments article {
	position: relative;
	margin-bottom: 16px;
	height: 300px;
	background: #fff;
	overflow: hidden;
}

#page > aside#experiments figure {
	background: #f0f0f0;
	width: 100%;
	height: 100%;
}

#page > aside#experiments article img {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -360px;
}

body.home aside#experiments .btn {
	margin-top: 16px;
	float: right;
}

aside#blog {
	position: relative;
	padding: 48px 0;
	text-align: left;
	background: #f0f0f0;
}

aside#blog .container > h1 {
	clear: both;
	margin: 0 0 16px;
}

aside#blog article {
	position: relative;
	padding: 16px 16px 16px 144px;
	height: 96px;
	background: #fff;
	overflow: hidden;
	margin-bottom: 16px;
}

aside#blog article > * {
	margin: 0;
}

aside#blog article > figure {
	position: absolute;
	top: 0;
	left: 0;
	width: 128px;
	height: 96px;
	overflow: hidden;
	background-color: #F8F8F8;
}

@media( max-width: 1043px ) {
	aside#blog article {
		padding: 16px 16px 16px 20px;
	}
	aside#blog article > figure {
		width: 4px;
		height: 100%;
	}
	aside#blog article > figure > img {
		height: 100%;
	}
}

@media( max-width: 767px ) {
	aside#blog article {
		height: auto;
	}
}

aside#blog article > h1,
aside#blog article > h2,
aside#blog article > time {
	line-height: 20px;
}

aside#blog article > h1 {
	font-size: 20px;
	color: #333;
}

aside#blog article > h2 {
	font-size: 16px;
	color: #666;
}

aside#blog article > time {
	font-size: 14px;
	color: #999;
}

aside#blog article .excerpt {
	display: block;
	margin: 16px 16px 6px;
	font-size: 14px;
	color: #666;
}

aside#blog article > b {
	display: block;
	margin: 0 16px 16px;
}

aside#blog .btn {
	float: right;
}

aside#blog nav {
	margin-top: 16px;
}

aside#blog nav .btn {
	margin-right: 4px;
	float: left;
}

main {
	margin-bottom: 32px;
	text-align: left;
}

main > figure {
	position: relative;
	margin-bottom: 16px;
	height: 300px;
}

main > figure img {
	position: absolute;
	top: 0;
	left: 0;
}

main header {
	overflow: hidden;
	margin-bottom: 32px;
	width: 100%;
}

main header h1 {
	margin-bottom: 6px;
}

main header .description {
	margin: 0;
	color: #666;
}

main header .meta {
	font-weight: 400;
	color: #999;
}
/*
@media( min-width: 1044px ) {

main .body .img-responsive {
	max-width: 108%;
	margin-left: -4%;
	margin-right: -4%;
}
}
*/

#contact-form {
	margin: 32px 0 16px;
	background: #f0f0f0;
	padding: 32px;
	overflow: hidden;
}

#contact-form .btn {
	float: right;
}

.single #disqus_thread {
	margin-top: 16px;
}

.blog-author {
	margin-bottom: 16px;
}

.dark {
	background: #263238 !important;
}