{% extends 'admin/change_list.html' %}
{% block extrahead %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />

{% endblock %}

{% block content_title %}
    <h1> Global Page Hits Summary </h1>
{% endblock %}

{% block result_list %}
{% comment %} 
TODO: Add a map like Cloudflare and show what countries are the hottest (do a time frame also)
<div id='map' style='width: 800px; height: 440px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoidHJkd2xsIiwiYSI6ImNrNmUybGw4bjF0ZnozbHFmdmp4am5hZjIifQ.T46SE6D2jdX4P5erhrsGBg';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11'
});
</script> {% endcomment %}
    
{% endblock %}

{% block pagination %}{% endblock %}