{% extends "_base.html" %}

{% block title %}Posts under {{ POSTS_CATEGORY }}{% endblock %}

{% block content %}
<h1>Posts under {{ POSTS_CATEGORY }}</h1>
<small>{{ POSTS_CATEGORY.description }}</small>

<div class="archive">
{% for year,posts in POSTS.items %}
    <h2 class="archive-year">{{ year }}</h2>
    
    {% for post in posts %}
        <div class="archive-item">
            <span class="post-date archive-date">{{ post.published_date|date:"F d, Y" }}</span>
            <a href="{{ post.get_absolute_url }}" class="archive-title">{{ post.title }}</a>
        </div>
    {% endfor %}
{% endfor %}
</div>
{% endblock %}