{% extends "_base.html" %}

{% block title %}Posts under {{ POSTS_CATEGORY }}{% endblock %}

{% block content %}
<div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 pb-10">
    <div class="lg:text-center">
		<h3 class="mt-2 text-3xl leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10">Posts under {{ POSTS_CATEGORY }}</h3>
		<p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
			<small>{{ POSTS_CATEGORY.description }}</small> 
		</p>
    </div>
</div>

<div>
    {{ POSTS|safe }}
</div>
{% endblock %}