{% extends '_base.html' %}

{% block title %}Blog{% endblock %}

{% block navbar %}
<li><a href="{% url 'home_page' %}">Home</a></li>
<li><a href="{% url 'about_page' %}">About</a></li>
<li class="visible-sm active"><a href="#">Blog</a></li>
<li><a href="{% url 'experiments_home_page' %}">Experiments</a></li>
{% endblock %}

{% block content %}
<aside id="blog">
    <div class="container">
        <h1>Blog</h1>
        <div class="row">
            {% for post in POSTS %}
            <div class="col-md-6">
                <article itemscope itemtype="http://schema.org/Article">
                    <figure>
                        <img src="{{ post.image.url }}" srcset="{{ post.image.url }} 2x" alt="" width="128" height="96" itemprop="thumbnailUrl"/>
                    </figure>
                    <h1 itemprop="name">{{ post.title }}</h1>
                    <h2 itemprop="description">{{ post.description|truncatewords:5 }}</h2>
                    <time itemprop="dateCreated" content="{{ post.published_date }}">{{ post.published_date }}</time>
                    <a href="{{ post.get_absolute_url }}" class="fill" itemprop="url">{{ post.title }}</a>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</aside>

{% endblock %}