{% extends '_base.html' %}

{% block title %}Blog / {{ POST.title }}{% endblock %}

{% block navbar %}
<li><a href="{% url 'home_page' %}">Home</a></li>
<li><a href="{% url 'about_page' %}">About</a></li>
<li class="visible-sm active"><a href="{% url 'blog_home_page' %}">Blog</a></li>
<li><a href="{% url 'experiments_home_page' %}">Experiments</a></li>
{% endblock %}

{% block content %}
<main itemscope itemtype="http://schema.org/Article">
    <div class="container">
        <header>
            <h1>{{ POST.title }}</h1>
            <div class="description h3">{{ POST.description }}</div>
            <div class="meta h5">
                By <span itemprop="author">{{ POST.author.first_name }} {{ POST.author.last_name }}</span>
                <time itemprop="dateCreated" content="{{ POST.published_date }}">{{ POST.published_date }}</time>
            </div>
        </header>
        <div class="body" itemprop="articleBody">
            {% load general_tags %}
            {{ POST.body|markdown|safe }}
        </div>
    </div>
</main>
{% endblock %}