{% extends '_base.html' %}

{% block title %}{{ POST.title }} &mdash; @trdwll{% endblock %}

{% block navbar %}
<li><a href="{% url 'home_page' %}">Home</a></li>
<li><a href="{% url 'about_page' %}">About</a></li>
{% endblock %}

{% block content %}
{% if not POST.is_published and request.user.is_authenticated and request.user.is_superuser %}
<div class="alert alert-warning" role="alert">
  This post is not published. Only staff can view this post currently.
</div>
{% endif %}
<div class="content">
    <h3>{{ POST.title }}</h3>
    <h5 class="date">{{ POST.published_date }}</h5>
    <p>{{ POST.description }}</p>
    {% load general_tags %}
    {{ POST.body|markdown|safe }}
</div>
{% endblock %}