{% extends '_base.html' %}

{% block title %}{{ POST.title }}{% endblock %}

{% block head_include %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/vs.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
{% if not POST.is_published and request.user.is_authenticated and request.user.is_superuser %}
<div class="alert alert-warning" role="alert">
  This post is not published. Only staff can view this post currently.
</div>
{% endif %}
<div class="content">
    <h3>{{ POST.title }}</h3>
    <h5 class="date">{{ POST.published_date }}</h5>
    <p>{{ POST.description }}</p><br />
    {% load general_tags %}
    {{ POST.body|markdown|safe }}
</div>
{% if not POST.is_published and request.user.is_authenticated and request.user.is_superuser %}
<div class="alert alert-warning" role="alert">
  This post is not published. Only staff can view this post currently.
</div>
{% endif %}
{% endblock %}