<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@trdwll &mdash; {% block title %}@trdwll{% endblock %}</title>
        <meta name="description" content="Russ 'trdwll' Treadwell's personal website.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/site.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

        {% block head_include %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">@trdwll</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link" href="{% url 'home_page' %}">Home</a>
                        <a class="nav-link" href="{% url 'experiments_home_page' %}">Experiments</a>
                        <a class="nav-link" href="{% url 'about_page' %}">About</a>
                    </nav>
                </div>
            </header>

            <hr />
            <div class="body">
                {{ ALERTS|safe }}
                {% block content %}{% endblock %}
            </div>
            
            <br />
            <hr />
            <div class="footer">
                {% include '_footer.html' %}
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/script.min.js' %}"></script>
    </body>
</html>