<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@trdwll &mdash; {% block title %}@trdwll{% endblock %}</title>
        <meta name="description" content="Russ 'trdwll' Treadwell's personal website. A software engineer with an interest in web development and game development. C++, C#, and Python.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}
        <meta property="og:image" content="https://trdwll.com{% static 'img/trdwll_logo_128.png' %}" />
        
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:creator" content="@trdwll" />
        <meta name="twitter:site" content="https://trdwll.com" />
        <meta name="twitter:image" content="https://trdwll.com{% static 'img/trdwll_logo_128.png' %}">

        {% block meta_tags %}
        <meta name="twitter:description" content="Russ 'trdwll' Treadwell's personal website. A software engineer with an interest in web development and game development. C++, C#, and Python.">
        <meta name="keywords" content="C++, C#, Python, UE4, Unreal Engine 4, Unreal Engine, Gamedev, Game Development, Gaming, Programming, Code">
        {% endblock %}

        {% url 'home_page' as home_url %}
        {% if request.path == home_url %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" integrity="sha512-+WF6UMXHki/uCy0vATJzyA9EmAcohIQuwpNz0qEO+5UeE5ibPejMRdFuARSrl1trs3skqie0rY/gNiolfaef5w==" crossorigin="anonymous" />
        {% else %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" integrity="sha512-+WF6UMXHki/uCy0vATJzyA9EmAcohIQuwpNz0qEO+5UeE5ibPejMRdFuARSrl1trs3skqie0rY/gNiolfaef5w==" crossorigin="anonymous" />
        {% endif %}
        <link href="{% static 'css/site.min.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
        <script src="https://kit.fontawesome.com/a5a441f411.js" crossorigin="anonymous" defer></script>

        {% block extrahead %}{% endblock %}
    </head>
    <body class="flex flex-col justify-between bg-gray-50 text-grey-darkest leading-normal font-sans">
        <div id="app" class="flex flex-col h-screen">
            {% include '_navbar.html' %}
            {{ NOTICES|safe }}
        
            <main role="main" class="mt-12 flex-auto container mx-auto px-6">
            {{ ALERTS|safe }}
            {% block content %}{% endblock %}
            </main>

            {% include '_footer.html' %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g==" crossorigin="anonymous" defer></script>
        <script type="text/javascript" src="{% static 'js/script.min.js' %}" defer></script>
    </body>
</html>