<a href="https://twitter.com/trdwll" target="_blank"><i class="fa-lg fab fa-twitter-square"></i></a>
<a href="https://instagram.com/trdwll" target="_blank"><i class="fa-lg fab fa-instagram"></i></a>
<a href="https://github.com/trdwll" target="_blank"><i class="fa-lg fab fa-github"></i></a>
<a href="https://linkedin.com/in/trdwll" target="_blank"><i class="fa-lg fab fa-linkedin"></i></a>
<a href="https://paypal.me/vuln" target="_blank"><i class="fa-lg fab fa-paypal"></i></a>
<div class="copy"></div>
<a href="https://github.com/trdwll/TRDWLL">This site is Open Source</a>
<div class="float-right"><a href="http://www.djangoproject.com/" target="_blank"><img src="https://static.djangoproject.com/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a></div>