<div class="icons">
    <a href="https://twitter.com/trdwll" target="_blank"><i class="fa-lg fab fa-twitter-square"></i></a>
    <a href="https://instagram.com/trdwll" target="_blank"><i class="fa-lg fab fa-instagram"></i></a>
    <a href="https://github.com/trdwll" target="_blank"><i class="fa-lg fab fa-github"></i></a>
    <a href="https://stackoverflow.com/users/8462069/trdwll" target="_blank"><i class="fa-lg fab fa-stack-overflow"></i></a>
    <a href="https://linkedin.com/in/trdwll" target="_blank"><i class="fa-lg fab fa-linkedin"></i></a>
    <a href="https://paypal.me/vuln" target="_blank"><i class="fa-lg fab fa-paypal"></i></a>
    {% comment %} <div class="float-right">Made with <a href="https://python.org" target="_blank"><i class="fab fa-python"></i></a> &amp; powered by <a href="https://www.freebsd.org/" target="_blank"><i class="fab fa-freebsd"></i></a></div> {% endcomment %}
</div>
<div class="footer-text d-block text-muted mb-3 pt-1">
    <small><div class="copy"></div></small>
    <small>Made &amp; Hosted with <i class="fas fa-heart fa-beat fa-color-red"></i> in USA! &mdash; <a href="https://github.com/trdwll/TRDWLL">This site is Open Source</a></small>
</div>