{% extends '_base.html' %}

{% block title %}About{% endblock %}

{% block navbar %}
<li><a href="{% url 'home_page' %}">Home</a></li>
<li class="visible-sm active"><a href="#">About</a></li>
<li><a href="{% url 'blog_home_page' %}">Blog</a></li>
<li><a href="{% url 'experiments_home_page' %}">Experiments</a></li>
{% endblock %}

{% block content %}
{% load static %}
<section id="home-hero" class="container-fluid wide dark">
    <div class="content">
        <div class="container">
            <div class="person" itemscope="" itemtype="http://schema.org/Person">
                <h1>Hello World</h1>
                <p>As you learned on the home page my name is Russ Treadwell and I go by trdwll. You also learned that I'm a programmer with an interest in games programming, you also learned that I'm an aspiring firefighter and soldier.</p>
                <p>I enjoy writing C++, C#, and Python. I have experience in game development such as Unreal Engine 4, infosec such as penetration testing, and management such as running a business.</p>
                
                <p>Feel free to write me <a href="mailto:russ@trdwll.com">russ@trdwll.com</a></p>
                
                <hr />

                <h1>Work</h1>

                <h5>Chain Gang Entertainment Inc &mdash; <span class="date">Mar 24, 2019 - <strong>Present</strong></span></h5>
                <p>Web Developer on a video game website (Django)</p>

                <h5>General Freelancer &mdash; <span class="date">2010 - <strong>Present</strong></span></h5>
                <p>Programming &amp; System Adminstration</p>
                
                <hr />
                <h1>Previous Work</h1>
                
                <h5 title="Video Game Publisher &amp; Video Game Developer">Ashland Creative Entertainment LLC &mdash; <span class="date">May 25, 2018 - Apr 2, 2019</h5>
                <p>Founder, CEO, &amp; Programmer</p>
                
                <h5 title="Software Development &amp; Web Security Consultancy">Daxalon LLC &mdash; <span class="date">May 4, 2016 - Feb 26, 2019</span></h5>
                <p>Founder</p>

                <h5>Chain Gang Entertainment, Inc &mdash; <span class="date">Dec 4, 2018 - Feb 8, 2019</span></h5>
                <p>Programmer on an <i title="This project should be announced sometime in 2019.">UNANNOUNCED PROJECT</i> (video game in UE4)</p>

                <h5>Cat Code Games, LLC &mdash; <span class="date">Oct 11, 2018 - Oct 18, 2018</span></h5>
                <p><a href="/blog/11-10-2018_cat_code_games_wanted/">Programmer on WANTED - <i>tl;dr they didn't want to pay me</i></a></p>

                <h5 title="Cleaning service">Lucas Building Maintenance LLC &mdash; <span class="date">Apr 19, 2016 - Sept 21, 2018</span></h5>
                <p>Custodian</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}