{% extends '_base.html' %}

{% block title %}About{% endblock %}

{% block navbar %}
<li><a href="{% url 'home_page' %}">Home</a></li>
<li class="visible-sm active"><a href="#">About</a></li>
{% endblock %}

{% block content %}
{% load static %}
<section id="home-hero" class="container-fluid wide dark">
    <div class="content">
        <div class="container">
            <div class="person" itemscope="" itemtype="http://schema.org/Person">
                <h1>Hello World</h1>
                <p>As you learned on the home page my name is Russ Treadwell and I go by trdwll. You also learned that I'm a programmer with an interest in games programming.</p>
                <p>I enjoy writing C++, C#, and Python. I have experience in game development such as Unreal Engine 4, infosec such as penetration testing, and management such as running a business.</p>
                
                <p>Feel free to write me <a href="mailto:russ@trdwll.com">russ@trdwll.com</a></p>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}