{% extends "_base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Blog</h1>
<small id="home_tagline"></small>

<div class="archive">
{% for year,posts in POSTS_HOMEPAGE.items %}
    <h2 class="archive-year">{{ year }}</h2>
    
    {% for post in posts %}
        <div class="archive-item">
            <span class="post-date archive-date">{{ post.published_date|date:"F d, Y" }}</span>
            {{ post.print_categories|safe }} <a href="{{ post.get_absolute_url }}" class="archive-title">{{ post.title }}</a>
        </div>
    {% endfor %}
{% endfor %}
</div>
{% endblock %}