<div class="pb-5"></div>
<div class="flex p-4 rounded-md bg-blue-300 bg-opacity-25 dark:bg-blue-300">
    <div class="mr-3">
        <div class="text-xl"><i class="fas fa-info-circle fa-xs text-blue-600 align-baseline"></i></div>
    </div>

    <div class="flex-1">
        <div class="text-xl text-blue-900 font-semibold mb-1">{% if title == None %}Hey Cowboy!{% else %}{{ title }}{% endif %}</div>
        <div class="text-blue-800">{{ content|safe }}</div>
    </div>
</div>
<div class="pb-5"></div>