{% extends '_base.html' %}

{% block title %}Not Found - 404{% endblock %}

{% block content %}
<div class="flex flex-col text-center">
    <h2 class="text-3xl">404 Not Found</h2>
    <p>Yikes! The resource that you're looking for wasn't found.</p>
    <p><a href="{% url 'home_page' %}">Go Home</a></p>
    <div class="mx-auto"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/gvdf5n-zI14?controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
{% endblock %}