{% extends '_base.html' %}

{% block title %}Work{% endblock %}

{% block content %}
<div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 pb-10">
    <div class="lg:text-center">
		<h3 class="mt-8 text-3xl leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 dark:text-white">Work</h3>
		<p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
			<p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">A list of projects I've worked on.</p>
		</p>
    </div>
</div>

Soon™

{% endblock %}